<% provide(:title, 'Home') %>
<div id="job-openings">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Existing campaigns</h4>
      <hr class="star-primary"><br/>
    <div class="row">
      <div class="col-md-12">
        <div class="add-company-button">
          <%= link_to "Add new compaign", '#', class: "btn btn-success" %>
        </div><br/><br/>
      </div>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>Campaign Name</th>
                <th>Send Questions</th>
              </tr>              
            </thead>
            <tbody>
              <% @campaigns.each do |campaign| %>
                <tr>
                  <td></td>
                  <td><%= campaign.title %></td>
                  <td><%= link_to('Send Questions', send_questions_path(campaign_id: campaign.id),
                    class: "btn btn-primary", method: :post) %></td>
                </tr>
              <% end %>
            </tbody>            
          </table>
          
        </div>        
      </div>
    </div>
  </div>
</div>