<div class="row">
  <div class="col-md-12">
    <div class="add-company-button">
      <%= link_to "Back", campaigns_path, class: "btn btn-primary" %>
    </div><br/><br/>
  </div>
  <div class="col-md-12">
    <h4 class="text-center"><%= @campaign.title %></h4>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>            
            <th class="text-center">Question</th>
            <th class="text-center">Answers</th>
          </tr>              
        </thead>
        <tbody>
          <% @campaign.questions.each do |question| %>
            <tr>
              <td class="text-center"><%=  question.title %></td>              
              <td class="text-center">
                <ol>
                <% question.options.each do |option| %>
                  <li><%= option.title%></li>
                <% end %>
                </ol>
              </td>
            </tr>
          <% end %>
        </tbody>            
      </table>      
    </div>        
  </div>
</div>